<ion-header>
  <ion-toolbar>
    <ion-title>Nota informativa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="clickFiltrar($event)" animated placeholder="Filtrar por título" debounce="500" ></ion-searchbar>
  <mat-accordion>

    <mat-expansion-panel [disabled]=" nNoLeidas > 0 ? false : true">
      <mat-expansion-panel-header>
        <ion-label>
          Notas no leidas
          <ion-chip [color]="nNoLeidas > 0 ? 'danger' : 'dark'"  >
            <ion-label>{{ nNoLeidas}}</ion-label>
          </ion-chip>
        </ion-label>
      </mat-expansion-panel-header>
      <ion-item *ngFor="let nota of notasNoLeidas" (click)="verNotaDetalle(nota?.Id)">
        <ion-label  >
          <h2 >{{nota?.Titulo}}</h2>
        </ion-label>
      </ion-item>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]=" nLeidas > 0 ? false : true">
      <mat-expansion-panel-header>
        <ion-label>
          Notas leidas
          <ion-chip color="dark"  >
            <ion-label>{{ nLeidas}}</ion-label>
          </ion-chip>
        </ion-label>
      </mat-expansion-panel-header>
      <ion-item *ngFor="let nota of notasLeidas" (click)="verNotaDetalle(nota?.Id)" detail>
        <ion-label>
          <h2 >{{nota?.Titulo}}</h2>
        </ion-label>
      </ion-item>
    </mat-expansion-panel>

  </mat-accordion>
