<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="perfil"></ion-back-button>
        </ion-buttons>
        <ion-title>Mis propuestas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <mat-accordion>
        <!-- ITEMS -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <h4>{{ propuestas[0].categoria }}</h4>
            </mat-expansion-panel-header>

            <ion-item class="ion-no-padding" lines="none" *ngFor="let estado of estados">
                <ion-label>{{ estado.Estado }}</ion-label>
                <ion-checkbox slot="end" [color]="estado.Color" [(ngModel)]="propuestas[0].controles[estado.Id - 1]">
                </ion-checkbox>
            </ion-item>

            <ng-container *ngIf="propuestas[0].elementos !=null && propuestas[0].elementos.length>0">
                <ng-container *ngFor="let item of propuestas[0].elementos">
                    <ion-item class="ion-no-padding" [ngClass]="estados[item.EsValido - 1].Color + '-border'"
                              *ngIf="propuestas[0].controles[item.EsValido - 1]">
                        <ion-label class="ion-text-wrap">{{ item.Nombre }}</ion-label>
                        <ion-item-group>
                            <ion-button *ngIf="item.EsValido ==2" slot="end" color="success"
                                        [routerLink]="['/item', item.Id, 'editar']">Editar
                            </ion-button>
                            <ion-button *ngIf="item.EsValido ==2" slot="end" color="danger" (click)="delete(item,0)">
                                Borrar
                            </ion-button>
                        </ion-item-group>
                    </ion-item>
                </ng-container>

            </ng-container>
        </mat-expansion-panel>

        <!-- MATERIALES -->
        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <h4>{{ propuestas[1].categoria }}</h4>
            </mat-expansion-panel-header>

            <ion-item class="ion-no-padding" lines="none" *ngFor="let estado of estados">
                <ion-label>{{ estado.Estado }}</ion-label>
                <ion-checkbox slot="end" [color]="estado.Color" [(ngModel)]="propuestas[1].controles[estado.Id - 1]">
                </ion-checkbox>
            </ion-item>

            <ng-container *ngIf="propuestas[1].elementos !=null && propuestas[1].elementos.length!=0">
                <ng-container *ngFor="let item of propuestas[1].elementos">
                    <ion-item class="ion-no-padding" [ngClass]="estados[item.EsValido - 1].Color + '-border'"
                              *ngIf="propuestas[1].controles[item.EsValido - 1]">
                        <ion-label class="ion-text-wrap">{{ item.Nombre }}</ion-label>
                        <ion-item-group>
                            <ion-button *ngIf="item.EsValido ==2" slot="end" color="success"
                                        [routerLink]="['/material', item.Id, 'editar']">Editar
                            </ion-button>
                            <ion-button *ngIf="item.EsValido ==2" slot="end" color="danger" (click)="delete(item,1)">
                                Borrar
                            </ion-button>
                        </ion-item-group>
                    </ion-item>
                </ng-container>
            </ng-container>
        </mat-expansion-panel>

        <!-- PUNTOS -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <h4>{{ propuestas[2].categoria }}</h4>
            </mat-expansion-panel-header>

            <ion-item class="ion-no-padding" lines="none" *ngFor="let estado of estados">
                <ion-label>{{ estado.Estado }}</ion-label>
                <ion-checkbox slot="end" [color]="estado.Color" [(ngModel)]="propuestas[2].controles[estado.Id - 1]">
                </ion-checkbox>
            </ion-item>

            <ng-container *ngFor="let item of propuestas[2].elementos">
                <ion-item class="ion-no-padding" [ngClass]="estados[item.EsValido - 1].Color + '-border'"
                          *ngIf="propuestas[2].controles[item.EsValido - 1]" detail>
                    <ion-label class="ion-text-wrap" routerLink="/punto/{{item.Id}}">ID: {{ item.Id }}. Estancia: {{ item.EstanciaPunto.Id }}</ion-label>
                    <ion-item-group>
                        <ion-button *ngIf="item.EsValido ==2" slot="end" color="success"
                                    [routerLink]="['/punto', item.Id, 'editar']">Editar
                        </ion-button>
                        <ion-button *ngIf="item.EsValido ==2" slot="end" color="danger" (click)="delete(item,2)">
                            Borrar
                        </ion-button>
                    </ion-item-group>
                </ion-item>
            </ng-container>

        </mat-expansion-panel>
    </mat-accordion>
</ion-content>
