<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="edit != null">{{ edit ? 'Editar ' + tema?.Tema.toLowerCase() : tema?.Tema }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-md="8" offset-md="2">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>
                                {{ edit ? 'Editar' : 'Nuevo ' + tema?.Tema.toLowerCase() }}
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item class="ion-no-padding">
                                <ion-label position="floating"><strong>Título</strong></ion-label>
                                <ion-input type="text" formControlName="titulo"></ion-input>
                            </ion-item>
                            <ion-item *ngIf="titulo.errors && titulo.value" class="ion-no-padding" lines="none">
                                <ion-label color="danger">
                                    Caracteres excedidos <strong>{{ tmax - titulo.value.length }}</strong>
                                </ion-label>
                            </ion-item>
                            <ion-item class="ion-no-padding">
                                <ion-label position="floating"><strong>Cuerpo</strong></ion-label>
                                <ion-textarea rows="8" formControlName="cuerpo"></ion-textarea>
                            </ion-item>
                            <ion-item class="ion-no-padding" lines="none">
                                <ion-label class="ion-text-wrap" color="{{ cuerpo.invalid && cuerpo.value? 'danger' : '' }}">
                                    Caracteres restantes: {{ bmax - cuerpo.value?.length }}
                                </ion-label>
                                <ion-button type="submit" slot="end" [disabled]="formulario.invalid" *ngIf="edit">
                                    Editar
                                </ion-button>
                                <ion-button type="submit" slot="end" [disabled]="formulario.invalid" *ngIf="!edit">
                                    Enviar {{ tema?.Tema.toLowerCase() }} &nbsp;
                                    <ion-icon name="send"></ion-icon>
                                </ion-button>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
