<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>ranking</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionChange)="filterByEmail(search.value)" #search></ion-searchbar>

    <ion-list>
        <ion-item *ngFor="let juego of juegosAux;let contador=index">
            <ion-avatar slot="start">
                <ion-img src="https://picsum.photos/seed/{{juego?.Usuarios_oid}}/1000"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>
                    <strong>{{obtenerPosicion(juego?.Usuarios_oid) }}</strong>{{ " " + obtenerEmail(juego?.Usuarios_oid)}}
                </h2>
                <p>Puntuación: {{juego.Puntuacion}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
