<ion-header>
  <ion-toolbar>
    <ion-title>Lista de materiales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""  defaultHref="usuario/propuestas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar debounce="500" (ionInput)="buscarMaterial($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="materiales != null  && materiales.length>0;else noMaterials">
    <ion-list>
      
        <ion-item *ngFor="let material of materiales" (click)="setMaterialTorecycle(material)">
          <ion-label>{{material.Nombre}}
             <p>Tipo contenedor: {{getTipo(material.Contenedor)}}</p>
          </ion-label>

        </ion-item>

      
      <!-- <ion-item *ngFor="let material of materiales">
        <ion-label>
          <h2>{{material.Nombre}}</h2>
          <h3>Estado: {{getEstado(material.EsValido)}}</h3>
          <p>Tipo contenedor: {{getTipo(material.Contenedor)}}</p>
        </ion-label>
      </ion-item> -->
    </ion-list>
  </div>
  <ng-template #noMaterials>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label color="danger">
            No se han encontrado resultados para <strong><i>{{ term }}</i></strong>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" offset-md="9" size-md="3">
          <ion-button expand="block" routerLink="/material">Proponer material</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
