<ion-header>
    <ion-toolbar>
        <ion-title>Detalle</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-item class="ion-no-padding">
                <ion-label class="ion-text-wrap duda-title">{{ duda?.Titulo }}</ion-label>
                <ion-button *ngIf="usuario && usuario.Id === duda?.UsuarioDuda.Id"
                            routerLink="/foro/duda/{{duda.Id}}/editar">
                    <ion-icon name="pencil"></ion-icon>
                </ion-button>
                <ion-button *ngIf="usuario && usuario.Id === duda?.UsuarioDuda.Id" color="danger"
                            (click)="borrar(duda)">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <p class="ion-text-wrap">
                {{ duda?.Cuerpo }}
            </p>
        </ion-card-content>

        <ion-label>
            <p class="ion-text-right mr-1 mb-1 ion-hide-sm-up" slot="end">
                <small>
                    {{ duda?.UsuarioDuda.Borrado? 'Usuario borrado' : duda?.UsuarioDuda.Nombre }} <br> {{ duda?.Fecha | date: "HH:mm, dd/MM/yyyy"}}
                </small>
            </p>
            <p class="ion-text-right mr-1 mb-1 ion-hide-sm-down" slot="end">
                {{ duda?.UsuarioDuda.Nombre }} <br> {{ duda?.Fecha | date: "HH:mm, dd/MM/yyyy"}}
            </p>
        </ion-label>
    </ion-card>
    <ion-card *ngIf="respuestas && respuestas.length">
        <ion-card-header>
            <ion-card-title>
                Respuestas
            </ion-card-title>
        </ion-card-header>

        <ion-card-content class="pl-0">
            <ion-list class="pt-0">
                <ion-item *ngFor="let respuesta of respuestas">
                    <ion-grid class="pl-0 pt-0 pb-0 pr-0">
                        <ion-row>
                            <ion-col class="pb-0">
                                <ion-item lines="none" class="ion-no-padding">
                                    <ion-label class="ion-text-wrap usuario-respuesta">
                                        {{ respuesta?.UsuarioRespuesta.Borrado? 'Usuario borrado' : respuesta?.UsuarioRespuesta.Nombre }}
                                    </ion-label>
                                    <ion-button *ngIf="usuario && usuario.Id === respuesta?.UsuarioRespuesta.Id"
                                                routerLink="/foro/duda/{{duda.Id}}/respuesta/{{respuesta.Id}}/editar">
                                        <ion-icon name="pencil"></ion-icon>
                                    </ion-button>
                                    <ion-button *ngIf="usuario && usuario.Id === respuesta?.UsuarioRespuesta.Id"
                                                color="danger" (click)="borrarRespuesta(respuesta)">
                                        <ion-icon name="trash"></ion-icon>
                                    </ion-button>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="pr-0 pt-0">
                                <!--ion-item class="ion-no-padding" lines="none">
                                    <ion-thumbnail>
                                        <img src="https://picsum.photos/seed/{{respuesta.UsuarioRespuesta.Id}}/200">
                                    </ion-thumbnail>
                                </ion-item-->
                                <p class="ion-text-wrap">{{ respuesta.Cuerpo }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="pr-0">
                                <ion-label>
                                    <p class="ion-text-right ion-hide-sm-up" slot="end">
                                        <small>
                                            {{ respuesta?.Fecha | date: "HH:mm, dd/MM/yyyy"}}
                                        </small>
                                    </p>
                                    <p class="ion-text-right ion-hide-sm-down" slot="end">
                                        {{ respuesta?.Fecha | date: "HH:mm, dd/MM/yyyy"}}
                                    </p>
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <app-formulario-respuesta *ngIf="duda" [dudaId]="duda.Id"
                              (output)="pushRespuesta($event)"></app-formulario-respuesta>
</ion-content>
