.mr-1 {
  margin-right: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.pr-0 {
  padding-right: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pl-0 {
  padding-left: 0px;
}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  // here other custom CSS from documentation
}

.duda-title {
  font-size: 1em;
  font-weight: bolder
}

.usuario-respuesta {
  font-size: 0.9em;
  font-weight: bolder
}
