<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Mi Perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentPopover($event)">
                <ion-icon slot="icon-only" ios="ellipsis-vertical"
                          md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <ion-img style=" width: 45px; height: 45px; padding: 0; margin: 0" src="https://picsum.photos/seed/{{usuario?.Id}}/1000"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>{{usuario?.Nombre}}</h2>
                <p><strong>Apellidos:</strong>{{usuario?.Apellidos}}</p>
                <p><strong>Email:</strong>{{usuario?.Email}}</p>
            </ion-label>
        </ion-item>
    </ion-card>
    <ion-list>
        <ion-item-group>
            <ion-item [routerLink]="['/usuario/ranking']" detail>
                <ion-label>Estás en la posición {{posicion}} del ranking</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/usuario/acciones']" detail>
                <ion-label>Tu número de acciones es: {{acciones}}</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/']" detail>
                <ion-label>Tu número de dudas es: {{acciones}}</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/usuario/propuestas']" detail>
                <ion-label>Tu número de propuestas es: {{propuestas}}</ion-label>
            </ion-item>
        </ion-item-group>
    </ion-list>

</ion-content>
