<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Mi Perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentPopover($event)">
                <ion-icon slot="icon-only" ios="ellipsis-vertical"
                          md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-row>
            <ion-col>
                <ion-card-header>
                    <ion-card-title>{{usuario?.Nombre}}</ion-card-title>
                    <ion-card-subtitle><strong>Apellidos:</strong>{{usuario?.Apellidos}}</ion-card-subtitle>
                    <ion-card-subtitle><strong>Email:</strong>{{usuario?.Email}}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col>
                <ion-img style="width: 120px; height: 90px;" src="https://picsum.photos/seed/{{usuario?.Id}}/1000" ></ion-img>
            </ion-col>
        </ion-row>

    </ion-card>
    <ion-list>
        <ion-item-group>
            <ion-item detail>
                <ion-label>Tu posición en el ranking es: {{posicion}}</ion-label>
                <ion-note slot="end" color="success">Ver ranking</ion-note>
            </ion-item>
        </ion-item-group>
    </ion-list>

</ion-content>
