<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Mi Perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentPopover($event)">
                <ion-icon slot="icon-only" ios="ellipsis-vertical"
                          md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-row>
            <ion-col>
                <ion-card-header>
                    <ion-card-title>{{usuario?.Nombre}}</ion-card-title>
                    <ion-card-subtitle><strong>Apellidos:</strong>{{usuario?.Apellidos}}</ion-card-subtitle>
                    <ion-card-subtitle><strong>Email:</strong>{{usuario?.Email}}</ion-card-subtitle>
                </ion-card-header>
            </ion-col>
            <ion-col offset=2>
                <ion-avatar>
                    <ion-img style="width: 120px; height: 90px;"
                             src="https://picsum.photos/seed/{{usuario?.Id}}/1000">
                    </ion-img>
                </ion-avatar>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-list>
        <ion-item-group>
            <ion-item [routerLink]="['/ranking']" detail>
                <ion-chip outline color="primary">
                    <ion-col>
                        <ion-label>Estas en la posición</ion-label>

                    </ion-col>
                    <ion-col>
                        <ion-badge color="primary"> {{posicion}}</ion-badge>
                    </ion-col>
                    <ion-col>
                        <ion-label>del ranking</ion-label>

                    </ion-col>
                </ion-chip>
            </ion-item>
            <ion-item [routerLink]="['/']" detail>
                <ion-chip outline color="primary">
                    <ion-col>
                        <ion-label>Tú número de acciones es:</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-badge slot="end" color="primary">{{posicion}}</ion-badge>
                    </ion-col>
                </ion-chip>
            </ion-item>
            <ion-item [routerLink]="['/']" detail>
                <ion-chip outline color="primary">
                    <ion-col>
                        <ion-label>Tú número de dudas es:</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-badge slot="end" color="primary">{{posicion}}</ion-badge>
                    </ion-col>
                </ion-chip>
            </ion-item>
            <ion-item [routerLink]="['/propuestas']" detail>
                <ion-chip outline color="primary">
                    <ion-col>
                        <ion-label>Tú número de propuestas es:</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-badge slot="end" color="primary">{{posicion}}</ion-badge>
                    </ion-col>
                </ion-chip>
            </ion-item>
        </ion-item-group>
    </ion-list>

</ion-content>
