<ion-header>
    <ion-toolbar>
        <ion-title>iniciojuego</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Información sobre el juego:</ion-card-title>
        </ion-card-header>
        <ion-row>
            <ion-col>
                <ion-label> Estás en el nivel {{nivel + 1}} de  {{niveles}}</ion-label>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label> Estás en el item {{item}} de  {{items}}</ion-label>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label> Tu puntuación es:  {{this.juego?.Puntuacion}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Información sobre tus respuestas:</ion-card-title>
        </ion-card-header>
        <ion-row>
            <ion-col>
                <ion-label> Has acertado un total de {{this.juego.Aciertos}} respuestas</ion-label>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label> Has fallado un total de {{this.juego.Fallos}} respuestas</ion-label>

            </ion-col>
        </ion-row>
    </ion-card>
    <ion-row>
        <ion-col>
            <ion-button (click)="dismiss()" [disabled]="comprobarFinalizado()" expand="block" color="success">
                Siguiente item
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button (click)="ranking()" expand="block">
                Ir al ranking
            </ion-button>
        </ion-col>
    </ion-row>


</ion-content>
