<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Sobre nosotros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header class="ion-text-center">
            <img src="https://i.ibb.co/BNp6vWM/Logo-Recicla.png" alt="Logo-Recicla">
            <ion-card-subtitle>Bienvenido a</ion-card-subtitle>
            <ion-card-title>¡ReciclaUA!</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
            ReciclaUA es una aplicación dirigida a la comunidad universitaria con el
            objetivo de facilitar y promover las gestión del reciclaje en el campus.
        </ion-card-content>
    </ion-card>

</ion-content>
