<ion-header>
    <ion-toolbar>
        <ion-title>Índice de dudas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <mat-accordion *ngIf="temas">
        <mat-expansion-panel *ngFor="let tema of temas">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ tema.Tema }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-accordion *ngIf="dudas[tema.Id] && dudas[tema.Id].length > 0">
                <mat-expansion-panel *ngFor="let duda of dudas[tema.Id]">
                    <mat-expansion-panel-header>
                        <ion-col size-xs="12" size-sm="6">
                            <p class="ion-text-wrap">
                                {{ duda.Titulo }}
                            </p>
                        </ion-col>
                        <ion-col class="ion-hide-sm-down" size-sm="3">
                            <p>
                                {{ duda.UsuarioDuda.Nombre }}
                            </p>
                        </ion-col>
                        <ion-col class="ion-hide-sm-down" size-sm="3">
                            <p>
                                {{ duda.Fecha | date: 'dd/MM/yyyy - HH:mm'}}
                            </p>
                        </ion-col>
                    </mat-expansion-panel-header>

                    <p class="ion-text-wrap">
                        {{ duda.Cuerpo }}
                    </p>

                    <ion-label>
                        <p class="ion-text-right mr-1 mb-1 ion-hide-sm-up" slot="end">
                            <small>
                                {{ duda?.UsuarioDuda.Nombre }} <br> {{ duda?.Fecha | date: "HH:mm, dd/MM/yyyy"}}
                            </small>
                        </p>
                    </ion-label>

                    <mat-action-row>
                        <ion-item lines="none">
                            <ion-button [routerLink]="'/foro/duda/' + duda.Id">
                                Ver respuestas ({{duda.ObtenerNumeroDeRespuestas}})
                            </ion-button>
                        </ion-item>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>

            <ng-container *ngIf="!dudas[tema.Id] || !dudas[tema.Id].length">
                Actualmente vacío.
            </ng-container>

            <ion-item lines="none">
                <ion-button slot="end" routerLink="/foro/duda/crear/{{tema.Id}}">
                    Añadir {{ tema.Tema.toLowerCase() }}</ion-button>
            </ion-item>
        </mat-expansion-panel>
    </mat-accordion>
</ion-content>
