<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""  defaultHref="usuario/propuestas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
      <form (ngSubmit)="createMaterial()" [formGroup]="materialForm">
        <ion-item lines="full">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item *ngIf=" Nombre.touched && Nombre.invalid "  lines="none">
          <ion-label color="danger" *ngIf="Nombre.errors.required">
            Error <strong>Campo requirido</strong>
          </ion-label>
        
          <ion-label color="danger" *ngIf="Nombre.errors.minlength">
            Error <strong>valor minimo es: {{Nombre.errors.minlength.requiredLength}}</strong>
          </ion-label>
          <ion-label color="danger" *ngIf="Nombre.errors.maxlength">
            Error <strong>valor maximo es: {{Nombre.errors.maxlength.requiredLength}}</strong>
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Contenedor</ion-label>
          <ion-select placeholder="Elije un tipo de contenedor"
            formControlName="contenedor">

            <ion-select-option *ngFor="let contenedor of contenedores" value="{{contenedor.Id}}">{{contenedor.Tipo}}
            </ion-select-option>
          </ion-select>

        </ion-item>
        <ion-item *ngIf=" Contenedor.touched && Nombre.invalid " lines="none">
          <ion-label color="danger" *ngIf="Contenedor.errors.required">
            Error <strong>Campo requirido</strong>
          </ion-label>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button [disabled]="!materialForm.valid"  type="submit" color="primary" expand="block">{{title}}</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>



</ion-content>