<ion-header>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="usuario/propuestas"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
            <form (ngSubmit)="createPunto()" [formGroup]="puntoForm">

                <ion-item lines="full">
                    <ion-label position="floating">Latitud</ion-label>
                    <ion-input type="number" formControlName="Latitud" (ionChange)="latlngChange()"></ion-input>
                </ion-item>

                <ion-item lines="full">
                    <ion-label position="floating">Longitud</ion-label>
                    <ion-input type="number" formControlName="Longitud" (ionChange)="latlngChange()"></ion-input>
                </ion-item>

                <ion-item lines="full" hidden="true">
                    <ion-label position="floating">Estancia</ion-label>
                    <ion-input color="danger" [disabled]="true" value="{{Estancia_oid.value}}"></ion-input>
                </ion-item>

                <ion-row>
                    <ion-col>
                        <ion-item lines="none" class="ion-no-padding ion-no-margin ion-margin-start">
                            <ion-label class="ion-text-wrap ion-text-justify ion-no-margin" color="medium">
                                <small>
                                    Clica en el mapa para seleccionar las coordenadas del punto de reciclaje.
                                    Ten en cuenta que la estancia del mismo ({{ estancia?.Id }}) se encuentra marcada en rojo.
                                </small>
                            </ion-label>
                        </ion-item>
                        <app-mapa-picker (coordinatesChange)="coordinatesChange($event)"></app-mapa-picker>
                    </ion-col>
                </ion-row>

                <ion-item lines="none">
                    <ion-label>Contenedores</ion-label>
                </ion-item>
                <ion-row *ngIf="contenedores!=null">
                    <ion-col size="6" *ngFor="let c of contenedores">
                        <ion-item>
                            <ion-checkbox [checked]="checkIfOk(check)" #check color="{{c.Color}}" slot="start"
                                          value="{{c.Id}}" (ionChange)="onCheckboxChange($event)">
                            </ion-checkbox>
                            <ion-label>{{c.Tipo}}</ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-button type="submit" color="primary" expand="block" [disabled]="puntoForm.invalid">{{title}}</ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-col>
    </ion-row>


</ion-content>
