<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""  defaultHref="usuario/propuestas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
      <form (ngSubmit)="createItem()" [formGroup]="itemForm">
        <ion-item lines="full">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="Nombre"></ion-input>
        </ion-item>
        <ion-item *ngIf=" Nombre.touched && Nombre.invalid " lines="none">
          <ion-label color="danger" *ngIf="Nombre.errors.required">
            Error <strong>campo requirido</strong>
          </ion-label>
          <ion-label color="danger" *ngIf="Nombre.errors.minlength">
            Error <strong>la longitud mínima es {{Nombre.errors.minlength.requiredLength}}</strong>
          </ion-label>
          <ion-label color="danger" *ngIf="Nombre.errors.maxlength">
            Error <strong>la longitud mínima es {{Nombre.errors.maxlength.requiredLength}}</strong>
          </ion-label>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input type="text" formControlName="Descripcion"></ion-input>
        </ion-item>
        <ion-item *ngIf=" Descripcion.touched && Descripcion.invalid " lines="none">
          <ion-label color="danger" *ngIf="Descripcion.errors.required">
            Error <strong>campo requirido</strong>
          </ion-label>
          <ion-label color="danger" *ngIf="Descripcion.errors.minlength">
            Error <strong>la longitud mínima es {{Descripcion.errors.minlength.requiredLength}}</strong>
          </ion-label>
          <ion-label color="danger" *ngIf="Descripcion.errors.maxlength">
            Error <strong>la longitud mínima es {{Descripcion.errors.maxlength.requiredLength}}</strong>
          </ion-label>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Material</ion-label>
          <ion-input *ngIf="isEdit" [disabled]="true" value="{{selectedMaterial}}"></ion-input>
          <ion-select *ngIf="!isEdit" formControlName="Material_oid" interface="action-sheet">
            <ion-select-option *ngFor="let material of materiales" value="{{material.Id}}">{{material.Nombre}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="Material_oid.touched && Material_oid.invalid " lines="none">
          <ion-label color="danger" *ngIf="Material_oid.errors.required">
            Error <strong>campo requirido</strong>
          </ion-label>
        </ion-item>
        <ion-item lines="full" class="ion-margin-top" (click)="presentActionSheet()">
          <ion-label>
            Imagen
          </ion-label>
          <ion-icon name="image-outline" size="large" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="full" *ngIf="selectedImg!=null">
          <img [src]="selectedImg" />
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button [disabled]="!itemForm.valid" type="submit" color="primary" expand="block">{{title}}</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>


</ion-content>
