<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>ReciclaUA</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header class="ion-text-center">
            <img src="https://i.ibb.co/BNp6vWM/Logo-Recicla.png" class="ion-hide-md-up" height="40%" width="40%" alt="Logo-Recicla">
            <img src="https://i.ibb.co/BNp6vWM/Logo-Recicla.png" class="ion-hide-md-down" height="20%" width="20%" alt="Logo-Recicla">
        </ion-card-header>
    </ion-card>


    <ion-card color="primary">
        <ion-card-header>
            <ion-card-title>Reciclaje</ion-card-title>
        </ion-card-header>
        <ion-item [routerLink]="['/donde-reciclar']">
            <ion-icon name="search"></ion-icon>
            <ion-button fill="clear" style="color:black">
                ¿Dónde reciclo?
            </ion-button>
        </ion-item>
        <ion-item [routerLink]="['/reciclar']">
            <ion-icon name="trash"></ion-icon>
            <ion-button fill="clear" style="color:black">
                He reciclado...
            </ion-button>
        </ion-item>
        <ion-item [routerLink]="['/puntos-cercanos']">
            <ion-icon name="compass"></ion-icon>
            <ion-button fill="clear" style="color:black">
                Puntos de reciclaje cercanos
            </ion-button>
        </ion-item>
        <ion-item [routerLink]="['/punto/crear']" lines="none">
            <ion-icon name="map"></ion-icon>
            <ion-button fill="clear" style="color:black">
                Proponer punto de reciclaje
            </ion-button>
        </ion-item>
    </ion-card>


    <ion-card color="primary">
        <ion-card-header>
            <ion-card-title>Conseguir puntos</ion-card-title>
        </ion-card-header>
        <ion-item [routerLink]="['/foro']">
            <ion-icon name="list"></ion-icon>
            <ion-button fill="clear" style="color:black">
                Participar en el foro
            </ion-button>
        </ion-item>
        <ion-item [routerLink]="['/item/crear']">
            <ion-icon name="cube"></ion-icon>
            <ion-button fill="clear" style="color:black">
                Proponer ítem
            </ion-button>
        </ion-item>
        <ion-item [routerLink]="['/material/crear']" lines="none">
            <ion-icon name="layers"></ion-icon>
            <ion-button fill="clear" style="color:black">
                Proponer material
            </ion-button>
        </ion-item>
    </ion-card>

    <ion-card color="primary">
        <ion-card-header>
            <ion-card-title>Estadísticas</ion-card-title>
        </ion-card-header>
        <ion-item [routerLink]="['/usuario/ranking']">
            <ion-icon name="grid"></ion-icon>
            <ion-button fill="clear" style="color:black">
                Ir al ranking
            </ion-button>
        </ion-item>
        <ion-item [routerLink]="['/juego/ranking']" lines="none">
            <ion-icon name="trophy"></ion-icon>
            <ion-button fill="clear" style="color:black">
                Ir al ranking del juego
            </ion-button>
        </ion-item>
    </ion-card>

    <ion-card color="primary">
        <ion-card-header>
            <ion-card-title>Última nota informativa</ion-card-title>
            <ion-card-subtitle>{{notaInfo?.Titulo}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            {{notaInfo?.Cuerpo.substring(0, 50)}}... <a style="color:white; font-weight: bold"
                                                        routerLink="/nota/{{notaInfo?.Id}}">[Leer más]</a>
        </ion-card-content>
        <ion-item lines="none">
            <ion-icon name="reader"></ion-icon>
            <ion-button fill="clear" [routerLink]="['/notas']" style="color:black">Ir a notas informativas
            </ion-button>
        </ion-item>
    </ion-card>
</ion-content>
