<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <img src="https://i.ibb.co/BNp6vWM/Logo-Recicla.png" alt="Logo-Recicla" border="0" align="center">
            <ion-card-subtitle>Bienvenido a</ion-card-subtitle>
            <ion-card-title>¡ReciclaUA!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            ReciclaUA es una aplicación dirigida a la comunidad universitaria con el
            objetivo de facilitar y promover las gestión del reciclaje en el campus.
        </ion-card-content>
    </ion-card>


    <ion-card color="primary">
        <ion-card-header>
            <ion-card-title>¿Dónde puedo reciclar?</ion-card-title>
        </ion-card-header>
        <ion-item>
            <ion-icon name="map"></ion-icon>
            <ion-button fill="clear" [routerLink]="['/punto']" style="color:black">Crear punto de reciclaje</ion-button>
        </ion-item>
    </ion-card>


    <ion-card color="primary">
        <ion-card-header>
            <ion-card-title>Ganar mas puntos:</ion-card-title>
        </ion-card-header>
        <ion-item>
            <ion-icon name="trash"></ion-icon>
            <ion-button fill="clear" [routerLink]="['/videoclub']" style="color:black">Reciclar material</ion-button>
        </ion-item>
        <ion-item>
            <ion-icon name="trophy" ></ion-icon>
            <ion-button fill="clear" [routerLink]="['/juego2']" style="color:black">Ir al juego</ion-button>
        </ion-item>
    </ion-card>

    <ion-card color="primary">
        <ion-card-header>
            <ion-card-title>Estadísticas:</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
        <ion-item>
            <ion-icon name="person" ></ion-icon>
            <ion-button fill="clear" [routerLink]="['/perfil']" style="color:black">Ir a mi perfil</ion-button>
        </ion-item>
        <ion-item>
            <ion-icon name="grid"></ion-icon>
            <ion-button fill="clear" [routerLink]="['/usuario/ranking']" style="color:black">Ir al ranking</ion-button>
        </ion-item>
    </ion-card>

    <ion-card color="primary">
        <ion-card-header>
            <ion-card-title>Foro:</ion-card-title>
        </ion-card-header>
        <ion-item>
            <ion-icon name="list"></ion-icon>
            <ion-button fill="clear" [routerLink]="['/foro']" style="color:black">Ir al foro</ion-button>
        </ion-item>
    </ion-card>

    <ion-card color="primary">
        <ion-card-header>
            <ion-card-subtitle>{{notaInfo?.Titulo}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            {{notaInfo?.Cuerpo.substring(0,50)}}
        </ion-card-content>
        <ion-item>
            <ion-icon name="reader" ></ion-icon>
            <ion-button fill="clear" [routerLink]="['/notainfo']" style="color:black">Ir a notas informativas</ion-button>
        </ion-item>
    </ion-card>
</ion-content>
