<ion-header>
    <ion-toolbar>
        <ion-title>cambiarcontrasena</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="OnChangePss()" [formGroup]="formularioCambiarPass">

        <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="pwd"
            ></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Repetir Contraseña</ion-label>
            <ion-input type="password" formControlName="pwd2"
            ></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" expand="block">Cambiar</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
